* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg: rgba(240, 240, 240, 0.877);
  --clr-drk: rgb(56, 56, 56);
  --clr-lgt: rgb(248, 248, 248);
  --clr-pnt: #da6767;
}

.App {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg, rgb(55, 74, 114), rgb(107, 60, 60));
  display: flex;
  padding: 0.5rem;
  outline: none;
}

body {
  font-size: 1rem;

  @media (max-width: 700px) {
    font-size: 0.9rem;
  }

  @media (max-width: 500px) {
    font-size: 0.8rem;
  }
}

::-webkit-scrollbar {
  width: 4px;
  background-color: rgb(201, 201, 201);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  background-color: rgb(8, 8, 8);
}
